// 파일 포맷에 대한 설정을 하는 역할
// 코드 입력 시, 아래의 설정에 따라 파일이 포맷된다. ( prettier보다 먼저 )
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false